<!-- Author: Bc. Petr Balok -->
{% extends 'base.html' %}

{% block title %}
    {{ year }}/{{ month }}/{{ day }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'year' year %}">{{ year }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'month' year month %}">{{ month }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ day }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <main class="container">
        <h2>All recordings</h2>
        <h3>Year {{ year }} month {{ month }} day {{ day }}</h3>
        {% if recs %}
            {% for r in recs %}
                <a href="{% url 'detail' year month day r %}">{{ r }}</a>
            {% endfor %}
        {% else %}
            <p>There are no recordings yet.</p>
        {% endif %}
    </main>
{% endblock %}