{% extends 'base.html' %}

{% block title %}
    {{ recording.file_name }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'year' year %}">{{ year }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'month' year month %}">{{ month }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'day' year month day %}">{{ day }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ recording.file_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <main class="container">
        <h1>Recording detail</h1>
        <audio controls>
            <source src="{{ recording.file_path }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <div class="row">
            <div class="col"><p class="fw-bold">File name</p></div>
            <div class="col">{{ recording.file_name }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Country</p></div>
            <div class="col">{{ recording.country }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Location</p></div>
            <div class="col">{{ recording.location }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Center frequency</p></div>
            <div class="col">{{ recording.center_freq }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Airport codes</p></div>
            <div class="col">{{ recording.airport_codes }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Date and time</p></div>
            <div class="col">{{ recording.date }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Signal to Noise ratio (SNR)</p></div>
            <div class="col">{{ recording.snr }}</div>
        </div>
        <div class="row">
            <div class="col"><p class="fw-bold">Duration</p></div>
            <div class="col">{{ recording.duration }} seconds</div>
        </div>
    </main>
{% endblock %}