{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ recording.file_name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mainApp/css/export.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
            <li class="breadcrumb-item" aria-current="page">Export data</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <main class="container">
        <div id="export-message-container"></div>
        <h1>Export processed recordings</h1>
        <h2>Created ZIP files</h2>
        <table class="table table-striped w-100 mt-2">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="export-table-content">
                <tr>
                    <td colspan="2">Loading...</td>
                </tr>
            </tbody>
        </table>
        <h2>Export data for specific day</h2>
        <p>Here you can export part of collected data. To create an export file, it is required to specify the day you want to export the data from.
            You can also specify an hour period to export, but this is optional.</p>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <button id="prev-month" class="btn btn-outline-secondary btn-sm">&lt; Prev</button>
            <select id="month-select" class="form-select form-select-sm w-auto">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            
            <select id="year-select" class="form-select form-select-sm w-auto"></select>
            <button id="next-month" class="btn btn-outline-secondary btn-sm">Next &gt;</button>
        </div>
        <div id="calendar-grid" style="display: grid; grid-template-columns: repeat(7, 1fr); gap: 5px; text-align: center; max-width: 600px; margin: 0 auto;"></div>
        <div class="row">
            <p class="col-md-6">
                Select time: 
                <select id="timeSelect" class="form-select form-select-sm w-auto">
                    <option value="">Whole day</option>
                    <option value="00">00:00 - 01:00</option>
                    <option value="01">01:00 - 02:00</option>
                    <option value="02">02:00 - 03:00</option>
                    <option value="03">03:00 - 04:00</option>
                    <option value="04">04:00 - 05:00</option>
                    <option value="05">05:00 - 06:00</option>
                    <option value="06">06:00 - 07:00</option>
                    <option value="07">07:00 - 08:00</option>
                    <option value="08">08:00 - 09:00</option>
                    <option value="09">09:00 - 10:00</option>
                    <option value="10">10:00 - 11:00</option>
                    <option value="11">11:00 - 12:00</option>
                    <option value="12">12:00 - 13:00</option>
                    <option value="13">13:00 - 14:00</option>
                    <option value="14">14:00 - 15:00</option>
                    <option value="15">15:00 - 16:00</option>
                    <option value="16">16:00 - 17:00</option>
                    <option value="17">17:00 - 18:00</option>
                    <option value="18">18:00 - 19:00</option>
                    <option value="19">19:00 - 20:00</option>
                    <option value="20">20:00 - 21:00</option>
                    <option value="21">21:00 - 22:00</option>
                    <option value="22">22:00 - 23:00</option>
                    <option value="23">23:00 - 00:00</option>
                </select>
            </p>
            <p class="col-md-6" style="display: none;" id="selected-day-message">Selected day: <b id="selectedDay"></b></p>
        </div>
        <div class="text-center mt-3">
            <button id="clear-date" class="btn btn-warning btn-sm" style="display: none;">
                Clear Selection
            </button>
        </div>
        <div class="row">
            <button id="dayExport" class="col btn btn-primary disabled" disabled aria-disabled="true" data-url="{% url 'export_new' %}">Export data for selected day and time</button>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'mainApp/js/export.js' %}"></script>
{% endblock %}
