{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
    <main class="container">
        <h1>ATC traffic processing pipeline</h1>
        <h2>JS test</h2>
        <table class="table table-striped" id="rec-table">
            <thead>
            <tr>
                <th>File name</th>
                <th>Audio</th>
                <th>SNR</th>
                <th>Duration</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="rec-table-content">
            </tbody>
        </table>
    
        <h2>Latest recordings</h2>
        {% if recordings %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>File name</th>
                <th>Audio</th>
                <th>SNR</th>
                <th>Duration</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for recording in recordings %}
                <tr>
                    <td><a href="{% url 'detail' recording.date.year recording.month_str recording.day_str recording.pk %}">{{ recording.file_name }}</a></td>
                <td>
                    <audio controls>
                        <source src="{{ recording.file_path }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                </td>
                    <td>{{ recording.snr }}</td>
                    <td>{{ recording.duration }} s</td>
                <td>{{ recording.date }}</td>
                <td><a class="btn btn-primary" href="{% url 'detail' recording.date.year recording.month_str recording.day_str recording.pk %}">Detail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>There are no recordings yet!</p>
        {% endif %}
    
        <h2>All recordings</h2>
        <h3>Year</h3>
        {% if years %}
            <div class="row">
                {% for y in years %}
                    <div class="col">
                        <a class="btn btn-primary btn-lg" style="background-color: rgba(13, 110, 253, 0.5); color: black" href="{% url 'year' y %}">{{ y }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no recordings yet.</p>
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'mainApp/js/index.js' %}"></script>
{% endblock %}