{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mainApp/css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
    <main class="container">
        <h1>ATC communication processing pipeline</h1>
        <div class="row justify-content-center mb-4">
            <div class="col-md-10 col-lg-8">
                
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <button id="prev-month" class="btn btn-outline-secondary btn-sm">&lt; Prev</button>
                    <select id="month-select" class="form-select form-select-sm w-auto">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    
                    <select id="year-select" class="form-select form-select-sm w-auto"></select>
                    <button id="next-month" class="btn btn-outline-secondary btn-sm">Next &gt;</button>
                </div>
                
                <div id="calendar-grid" style="display: grid; grid-template-columns: repeat(7, 1fr); gap: 5px; text-align: center; max-width: 600px; margin: 0 auto;"></div>
                
                <div class="text-center mt-3">
                    <button id="clear-date" class="btn btn-warning btn-sm" style="display: none;">
                        Clear Selection
                    </button>
                </div>
                <div class="row" id="selected-day-message" style="display: none;">
                    <p class="col-md-6">Selected day: <b id="selectedDay"></b></p>
                    <div class="col-md-4">
                        <span class="input-group-text bg-transparent border-0" id="filter-icon">
                                <i class="bi bi-funnel"></i> Filter by hour:
                            </span>
                            <select id="time-filter" class="form-select bg-transparent" aria-describedby="filter-icon">
                                <option value="">-</option>
                                <option value="00">00:00 - 01:00</option>
                                <option value="01">01:00 - 02:00</option>
                                <option value="02">02:00 - 03:00</option>
                                <option value="03">03:00 - 04:00</option>
                                <option value="04">04:00 - 05:00</option>
                                <option value="05">05:00 - 06:00</option>
                                <option value="06">06:00 - 07:00</option>
                                <option value="07">07:00 - 08:00</option>
                                <option value="08">08:00 - 09:00</option>
                                <option value="09">09:00 - 10:00</option>
                                <option value="10">10:00 - 11:00</option>
                                <option value="11">11:00 - 12:00</option>
                                <option value="12">12:00 - 13:00</option>
                                <option value="13">13:00 - 14:00</option>
                                <option value="14">14:00 - 15:00</option>
                                <option value="15">15:00 - 16:00</option>
                                <option value="16">16:00 - 17:00</option>
                                <option value="17">17:00 - 18:00</option>
                                <option value="18">18:00 - 19:00</option>
                                <option value="19">19:00 - 20:00</option>
                                <option value="20">20:00 - 21:00</option>
                                <option value="21">21:00 - 22:00</option>
                                <option value="22">22:00 - 23:00</option>
                                <option value="23">23:00 - 00:00</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="fallback-warning" class="alert alert-warning align-items-center mb-3" style="display: none;" role="alert">
            <i class="bi bi-exclamation-triangle-fill fs-4 me-3"></i>
            <div>
                <strong>Database connection lost!</strong> 
                Falling back to direct filesystem read.
            </div>
        </div>
    
        <p id="empty-message" style="display: none;">There are no recordings yet.</p>
        <div class="d-flex justify-content-end mb-3">
            <button id="reload-table-btn" class="btn btn-outline-secondary shadow-sm">
                Refresh Data
            </button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body" style="position: relative; height: 200px; width: 100%;">
                        <h5 class="card-title">Average SNR for <span id="selectedMonthText">selected month</span></h5>
                        <canvas id="monthlyChart"></canvas>
                        <div id="empty-message-month">There are no recordings for this month.</div>
                        <div id="fallback-message-month" style="display: none;">Database connection lost, data unavailable!</div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body" style="position: relative; height: 200px; width: 100%;">
                        <h5 class="card-title">Average SNR per hour for <span id="selectedDayText">selected day</span></h5>
                        <canvas id="dailyChart"></canvas>
                        <div id="empty-message-day">There are no recordings for this day.</div>
                        <div id="not-selected-message">No day is currently selected.</div>
                        <div id="fallback-message-day" style="display: none;">Database connection lost, data unavailable!</div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Recordings</h2>
        <p id="total-recs">Total recordings (with current filters): <b>0</b></p>
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <button class="btn btn-outline-primary prev-page-btn" disabled>&lt; Previous</button>
            
            <div class="d-flex align-items-center gap-2">
                <span class="text-muted fw-bold">Page</span>
                <input type="number" class="form-control form-control-sm text-center fw-bold jump-to-page-input" style="width: 70px;" min="1" value="1">
                <span class="text-muted fw-bold total-pages-info">of 1</span>
            </div>
        
            <button class="btn btn-outline-primary next-page-btn" disabled>Next &gt;</button>
        </div>
        <table class="table table-striped w-100 mt-2" id="rec-table">
            <thead>
            <tr>
                <th>File name</th>
                <th>Audio</th>
                <th class="sortable-header" data-sort="snr" style="cursor: pointer; min-width: 100px;">SNR <i class="bi bi-arrow-down-up text-muted"></i></th>
                <th class="sortable-header" data-sort="duration" style="cursor: pointer;">Duration <i class="bi bi-arrow-down-up text-muted"></i></th>
                <th class="sortable-header" data-sort="date" style="cursor: pointer;">Date <i class="bi bi-caret-down-fill"></i></th>
                <th>Frequency</th>
                <th>Airport code</th>
                <th>Transcript</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="rec-table-content">
            <tr>
                <td colspan="6">Loading...</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <button class="btn btn-outline-primary prev-page-btn" disabled>&lt; Previous</button>
            
            <div class="d-flex align-items-center gap-2">
                <span class="text-muted fw-bold">Page</span>
                <input type="number" class="form-control form-control-sm text-center fw-bold jump-to-page-input" style="width: 70px;" min="1" value="1">
                <span class="text-muted fw-bold total-pages-info">of 1</span>
            </div>
        
            <button class="btn btn-outline-primary next-page-btn" disabled>Next &gt;</button>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'mainApp/js/index.js' %}"></script>
{% endblock %}