{% extends 'base.html' %}

{% block title %}
    {{ year }}/{{ month }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'year' year %}">{{ year }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ month }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <main class="container">
        <h2>All recordings</h2>
        <h3>Year {{ year }} month {{ month }}</h3>
        {% if days %}
            <div class="row">
                {% for d in days %}
                    <div class="col">
                        <a class="btn btn-primary btn-lg" style="background-color: rgba(13, 110, 253, 0.5); color: black" href="{% url 'day' year month d %}">{{ d }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no recordings yet.</p>
        {% endif %}
    </main>
{% endblock %}