{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Settings
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
            <li class="breadcrumb-item" aria-current="page">Settings</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <main class="container">
        <h2>Settings for ATC scanner</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <button type="Submit" class="btn btn-success">Save</button>
        </form>
    </main>
{% endblock %}
