{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Settings
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Homepage</a></li>
            <li class="breadcrumb-item" aria-current="page">Settings</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <main class="container">
        <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h2>Settings for ATC scanner</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form layout='horizontal' %}
                        <button type="Submit" class="btn btn-success">Save</button>
                    </form>
                </div>
        </div>
        <br>
        <form method="post" action="{% url 'upload_airband_config' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Upload Settings File</h5>
                    <p>To collect data about recording frequency and airport code, please upload RTL SDR Airband configuration file. <br>
                        Only tested configuration file is from this repository (other configuration files might not work): <a href="https://github.com/rtl-airband/RTLSDR-Airband">https://github.com/rtl-airband/RTLSDR-Airband</a></p>
                    <div class="mb-3">
                        <input class="form-control" name="airband_config" type="file" id="settingsFileUpload">
                    </div>
                    
                    <button id="upload-btn" class="btn btn-primary">Upload</button>
                    
                    <div id="upload-status" class="mt-2 fw-bold" style="display: none;"></div>
                </div>
            </div>
        </form>
        <h3>Airport data</h3>
        {% for airport_name, airport in airport_data.items %}
            <h4><span class="text-muted">Airport name:</span> {{ airport_name }}</h4>
            <p><span class="text-muted">Airport code:</span> {{ airport.code }}</p>
            <p><span class="text-muted">Frequency:</span> {{ airport.frequency }}</p>
            <p><span class="text-muted">Filename template:</span> {{ airport.template }}</p>
            <hr>
        {% endfor %}
    </main>
{% endblock %}
